.analysis-table
{
    width: 90%;
}

canvas
{
    flex-grow: 1;
    padding: 2rem;
    /*background-color: orange;*/
}


.chart
{
    height: 70%;
    width: 70%;
}

.paragraph
{
    height: 30%;
}

.paragraph > b
{

    color: orange;
    font-size: 150%;
}