.analysis-table
{
}

.paragraph-container {
    font-size: 0.9em; /* Smaller font size */
    line-height: 1.2em; /* Tighter line spacing */
    max-height: 100px; /* Set a maximum height */
}
  

canvas
{
    width: 90%;
    padding: 5%;
    /*background-color: orange;*/
}

svg {
    width: 90%; /* Full width to expand as much as the parent container */
    height: 600px; /* Fixed height, or use 'auto' for responsive height based on width */
    margin: auto; /* Center the SVG if necessary */
}

