.analysis-table
{
    width: 90%;
    background-color: rgba(221, 189, 168, 0.7) ;
}

canvas
{
    flex-grow: 1;
    padding: 2rem;
    /*background-color: orange;*/
}


.chart
{
    height: 60%;
    width: 60%;
    margin-bottom: 0%;
}
.chart>h2
{
    text-align: center;
    color: rgb(255, 119, 0);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

.paragraph-container
{
    
    height: 40%;
}

.paragraph-container>h1
{
    text-align: center;
    color: rgb(255, 119, 0);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
    height: 30%;
    margin: 0px;
}

.paragraph
{
    text-align: center;
    height: 60%;
    border-radius: 10px;
    margin-top: 7%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 40, 0);

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.paragraph > b
{
    color: rgb(255, 180, 41);
    font-size: 130%;
}