/* library.css */

.song_table {
  width: 100%;
  padding: 2.5% 2%; /* Adjusted padding for responsiveness */
  overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

h2 {
  color: #d35400; /* Light Orange */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #d2b48c; /* Light Brown */
}

th {
  background-color: #f5cba7; /* Light Orange */
  font-weight: bold;
  color: #4d3319; /* Dark Brown */
}

tr {
  background-color: #f9e8d9; /* Lighter Orange */
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #ffe4b5; /* Lighter Brown */
}

tr:nth-child(even) {
  background-color: #f5e0cc; /* Lighter Brown */
}

tr:nth-child(even):hover {
  background-color: #ffebcd; /* Lightest Brown */
}

button {
  background-color: #e74c3c; /* Alizarin */
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b; /* Pomegranate */
}
